#top{
    position:fixed;
    top:0;
    z-index: 9;
    height:50px;
    width:100%;
    background:rgba(255,255,255,0.5);
    cursor:pointer;
}

#right{
    position:fixed;
    right:0;
    z-index: 9;
    height:calc(100vh - 100px);
    top:50px;
    width:50px;
    background:rgba(255,255,255,0.5);
    cursor:pointer;
}

#bottom{
    position:fixed;
    bottom:0;
    z-index: 9;
    height:50px;
    width:100%;
    background:rgba(255,255,255,0.5);
    cursor:pointer;
}

#left{
    position:fixed;
    left:0;
    z-index: 9;
    height:calc(100vh - 100px);
    top:50px;
    width:50px;
    background:rgba(255,255,255,0.5);
    cursor:pointer;
}